<h1>New Lab Membership</h1>

<%= error_messages_for :lab_membership %>

<% form_for :lab_membership, :url => lab_memberships_path do |f| %>
  <p>
    <b>Lab Group</b><br />
    <%= f.collection_select :lab_group_id,
                            LabGroup.find(:all, :order => "name ASC"),
                            'id',
                            'name' %>
    <%= f.hidden_field :user_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_lab_memberships_path(@user) %>
